header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  padding: 5px 0px;
  border-bottom: 1px solid black;
  width: 100%;
}
a{
  color: black;
}
.navigation{
  justify-content: space-around;
}
.navigation span{
  padding: 0px 10px;
  margin-right: 30px;
}
.logo{
  display: flex;
  padding-left: 30px;
  color: MediumAquaMarine;
  align-items: center;
}
.logo img{
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
